<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERNO</title>

    <style>

        .checkbox{
            accent-color: darkred;
            display: block;
            width: 100px;
            height: 30px;
        }

        .checkboxc{
            accent-color: rgb(41, 192, 238);
        }

        .textarea{
            justify-content: right;
            color: rgb(250, 10, 102);
        }
    </style>
</head>
<body>


    <label for="nombre">INGRESE SU NOMBRE:</label>
        <input 
        type="text" 
        name="nombres" 
        id="nombres"
        placeholder="Ejm.David"
        maxlength="10"
        minlength="5"
        class="textarea"
    >
    <br>
    <label for="frase_motivadora">INGRESE SU FRASE DEL DIA DE HOY</label> 
    <textarea name="frase_motivadora" id="frase_motivadora" cols="30" rows="15" required class="textarea">BUENOS DIAS DE PROGRAMACION</textarea>

    <!-- input -->
    <label for="fecha">INGRESE SU FECHA NACIMIENTO:</label>
    <input type="date">
    <br>
    
    <label for="lenguaje_programacion">SELECCIONES SU LENGUAJE DE PROGRAMACION FAVORITO:</label>
    <select name="lenguaje_programacion" id="lenguaje_programacion">
        <option value="c_mas_mas">C++</option>
        <option value="python">PYTHON</option>
        <option value="java">JAVA</option>
        <option value="HTML" disabled>HTML</option>
    </select>

    <br>

    <!--CHECKBOX-->
    <label for="">SELECCIONE SUS DIAS DE CLASES PROG WEB:</label>
<br>
    <label for="lunes">Lunes</label>
    <input type="checkbox" name="dias[]" id="lunes" class="checkbox checkboxc">

    <label for="martes">Martes</label>
    <input type="checkbox" name="dias[]" id="martes" class="checkbox checkboxc">

    <label for="miercoles">Miercoles</label>
    <input type="checkbox" name="dias[]" id="miercoles" class="checkbox checkboxc">

    <label for="jueves">Jueves</label>
    <input type="checkbox" name="dias[]" id="jueves" class="checkbox checkboxc">
    <label for="viernes">VIERNES</label>
    <input type="checkbox" name="dias[]" id="viernes" class="checkbox checkboxc">
    <br>
    <!-- RADIO -->
    <label for="">SELECCIONE SU SEXO:</label>
    <label for="hombre">HOMBRE</label>
    <input type="radio" name="sexo" id="hombre" value="HOMBRE" checked>

    <label for="mujer">MUJER</label>
    <input type="radio" name="sexo" id="mujer" value="MUJER">

    <label for="des">DESCONOCIDO</label>
    <input type="radio" name="sexo" id="des" value="DESCONOCIDO" >


    
</body>
</html>